<!DOCTYPE html>
<html>
  <head>

  <% include ./partials/_head %>

  </head>
  <body>
    <% include ./partials/_nav %>
    <% include ./partials/_map %>
    <div class="container">
<div id="map"></div>
      <% if (user) { %>
         <% artists.forEach(function(el, i, arr){ %>

      <div class="row">
        <div class="col s6 l6">
          <div class="card">
            <div class="card-image">
              <img src="<%=   el.image; %>">
              <span class="card-title"><%=i+1 + ". "%><%=   el.name; %></span>
              </div>
              <div>
                <% if (el.concerts) { %>
                <div class="card-content">
                  <p>
                    <% el.concerts.forEach(function(concert, i, arr){ %>
                      <%= JSON.stringify(concert.venue) %>
                    <% });  %>
                  </p>
                </div>
                  <% }  %>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/spotify">Login</a>
      <% } %>



  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Edit Profile</h4>
      <div>
        <label for="<%= user.name %>">Name</label>
        <input placeholder="<%= user.name %>"=type="text" id="username">
        </div>
        <div>
        <label for="<%= user.photo %>">Profile Photo URL</label>

        <input placeholder="<%= user.photo %>"type="text" id="userphoto">
      </div>
    </div>
    <div class="modal-footer">
      <a id="submit-profile" "href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit changes</a>
    </div>
  </div>



  <script>
    drawMap({
      lat:<%= lat %>,
      lng:<%= lng %>
    });

    $('#submit-profile').on('click', function(evt) {
      $.ajax({
        url: '/api/update-profile',
        method: 'PUT',
        data: {
          name: $('#username').val(),
          photo: $('#userphoto').val()
        }
      }).then(function(user) {
        $('#modal1').closeModal();
        console.log(user);
      });
    });

$(document).ready(function() {
  $('.modal-trigger').leanModal();
});


  </script>

  </body>
</html>
