<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_head %>
    <% include ./partials/_nav %>
    <% include ./partials/_map %>
  </head>
  <body>
    <div id="map"></div>

    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>

    <div class="">
      <% if (user) { %>
         <% artists.forEach(function(el, i, arr){ %>
            <% if (el.concerts) { %>
              <div class="row">
                <div class="col m6 offset-m3 l5 offset-l1">
                  <div class="card">
                    <div class="card-image">
                      <img src="<%=   el.image; %>">
                      <span class="card-title"><%=   el.name; %></span>
                    </div>
                    <div>
                      <div class="card-content">
                        <p>
                        <% el.concerts.forEach(function(concert, i, arr){ %>
                        <%= JSON.stringify(concert.venue) %>
                        <% });  %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            <% }); %>

      <% } else { %>
        <a href="/auth/spotify">Login</a>
      <% } %>
    </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Edit Profile</h4>
      <div>
        <label for="<%= user.name %>">Name</label>
        <input placeholder="<%= user.name %>"=type="text" id="username">
        </div>
        <div>
        <label for="<%= user.photo %>">Profile Photo URL</label>
        <input placeholder="<%= user.photo %>"type="text" id="userphoto">
      </div>
    </div>
    <div class="modal-footer">
      <a id="submit-profile" "href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit changes</a>
      <a href="/logout" class=" modal-action modal-close waves-effect waves-green btn-flat">LOG OUT</a>
    </div>
  </div>

  <script>
    drawMap({
      lat:<%= lat %>,
      lng:<%= lng %>
    });

    $('#submit-profile').on('click', function(evt) {
      $.ajax({
        url: '/api/update-profile',
        method: 'PUT',
        data: {
          name: $('#username').val(),
          photo: $('#userphoto').val()
        }
      }).then(function(user) {
        $('#modal1').closeModal();
        console.log(user);
      });
    });

$(document).ready(function() {
  $('.modal-trigger').leanModal();
});


  </script>

  </body>
</html>
